body
{
	background-color: pink;
}
h1
{
	color: purple;
	font-family: times new roman;
	text-align: center;
	font-size:30px;
}
h2
{
	color: purple;
	font-family: fraktur bold;
	text-align: center;
	font-size: 30px;
}
p
{
	color: purple;
	font-family: times new roman;
	text-align: center;
	line-height: 1.5;
	font-size: 20px;
}
body
{
	background-image: url("image/background.jpeg");
